<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="compoment/static::static"></head>

<body>
<div id="page">
    <div id="wrap">
        <div id="header">
            <h1 id="logo"><a href="/">法律咨询系统</a></h1>
            <div class="availability">
                <a href="https://github.com/HoniiTro19/Online-Legal-Consulting-System" class="available" target="_blank"></a>
            </div>
            <div th:replace="compoment/navigatior::commonMenu(0)"></div>
        </div>

        <div id="main_content">
            <div class="column_2">
                <div class="first services">
                    <h2>功能说明</h2>
                    <span class="intro_text">用户登录界面，根据用户输入的账号密码判断用户能否成功登录。登录成功将转到系统主页，登录失败将提示错误，10分钟内错误5次将冻结账号10分钟。</span>
                    <h2>使用说明</h2>
                    <span class="intro_text">用户在”手机号“中填入注册的手机号，在”密码“中填入注册的密码，点击登录按键，系统将检测账号密码是否匹配以及账号是否被冻结。若出现异常，系统将报错，此时请用户退回重试。</span>
                </div>

                <div class="services">
                    <h2>用户登录</h2>
                    <form action="/login/verification" method="post">
                        <p>手机号：<input type="text" name="phone" required="required"></p>
                        <p>密码 ：<input type="password" name="password" required="required"></p>
                        <input type="submit" value="登录">
                        <p>没有账号？快来加入我们吧！</p>
                        <p><a href="/register">用户注册</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>