<?xml version="1.0" encoding="utf-8" ?>

<!--mybatis实现ConvrDao定义的接口-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huidong.legalsys.dao.ConvrDao">

    <insert id="newConvr" parameterType="com.huidong.legalsys.domain.Convr" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into convrTable(phone, lawyerphone, convr, lawyerconvr, time, lawyertime)
        values(#{phone}, #{lawyerphone}, #{convr}, #{lawyerconvr}, #{time}, #{lawyertime})
    </insert>

    <select id="getConvrInfo" resultType="com.huidong.legalsys.domain.Convr">
        select * from convrTable where id = #{id}
    </select>

    <select id="getConvr" resultType="java.lang.String">
        select convr from convrTable where id = #{id}
    </select>

    <update id="setConvr">
        update convrTable set convr = #{convr} where id = #{id}
    </update>

    <select id="getLawyerConvr" resultType="java.lang.String">
        select lawyerconvr from convrTable where id = #{id}
    </select>

    <update id="setLawyerConvr">
        update convrTable set lawyerconvr = #{lawyerconvr} where id = #{id}
    </update>

    <select id="getTime" resultType="java.lang.String">
        select time from convrTable where id = #{id}
    </select>

    <update id="setTime">
        update convrTable set time = #{time} where id = #{id}
    </update>

    <select id="getLawyerTime" resultType="java.lang.String">
        select lawyertime from convrTable where id = #{id}
    </select>

    <update id="setLawyerTime">
        update convrTable set lawyertime = #{lawyertime} where id = #{id}
    </update>
    
    <select id="getConvrsByPhone" resultType="com.huidong.legalsys.domain.Convr">
        select * from convrTable where phone = #{phone}
    </select>

    <select id="getConvrsByLawyerPhone" resultType="com.huidong.legalsys.domain.Convr">
        select * from convrTable where lawyerphone = #{lawyerphone}
    </select>

    <delete id="deleteConvr">
        delete from convrTable where id = #{id}
    </delete>

    <select id="getAllConvrs" resultType="com.huidong.legalsys.domain.Convr">
        select * from convrTable
    </select>
</mapper>
