<?xml version="1.0" encoding="utf-8" ?>

<!--mybatis实现ConvrLogDao定义的接口-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huidong.legalsys.dao.ConvrLogDao">
    <resultMap id="convrLogMap" type="com.huidong.legalsys.domain.ConvrLog">
        <id column="id" javaType="Integer" jdbcType="INTEGER" property="id"></id>
        <result column="phone" javaType="String" jdbcType="VARCHAR" property="phone"></result>
        <result column="lawyerphone" javaType="String" jdbcType="BOOLEAN" property="lawyerphone"></result>
        <result column="convr" javaType="String" jdbcType="VARCHAR" property="convr"></result>
        <result column="lawyerconvr" javaType="String" jdbcType="VARCHAR" property="lawyerconvr"></result>
        <result column="time" javaType="String" jdbcType="VARCHAR" property="time"></result>
        <result column="lawyertime" javaType="String" jdbcType="VARCHAR" property="lawyertime"></result>
    </resultMap>

    <select id="isestablished" resultType="com.huidong.legalsys.domain.ConvrLog">
        select * from convrLogTable where phone = #{phone} and lawyerphone = #{lawyerphone}
    </select>

    <insert id="newConvrLog" parameterType="com.huidong.legalsys.domain.ConvrLog" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
        insert into convrLogTable(phone, lawyerphone, convr, lawyerconvr, time, lawyertime)
        values(#{phone}, #{lawyerphone}, #{convr}, #{lawyerconvr}, #{time}, #{lawyertime})
    </insert>

    <select id="getConvr" resultType="java.lang.String">
        select convr from convrLogTable where phone = #{phone} and lawyerphone = #{lawyerphone}
    </select>

    <update id="setConvr">
        update convrLogTable set convr = #{convr} where phone = #{phone} and lawyerphone = #{lawyerphone}
    </update>

    <select id="getLawyerConvr" resultType="java.lang.String">
        select lawyerconvr from convrLogTable where phone = #{phone} and lawyerphone = #{lawyerphone}
    </select>

    <update id="setLawyerConvr">
        update convrLogTable set lawyerconvr = #{lawyerconvr} where phone = #{phone} and lawyerphone = #{lawyerphone}
    </update>

    <select id="getTime" resultType="java.lang.String">
        select time from convrLogTable where phone = #{phone} and lawyerphone = #{lawyerphone}
    </select>

    <update id="setTime">
        update convrLogTable set time = #{time} where phone = #{phone} and lawyerphone = #{lawyerphone}
    </update>

    <select id="getLawyerTime" resultType="java.lang.String">
        select lawyertime from convrLogTable where phone = #{phone} and lawyerphone = #{lawyerphone}
    </select>

    <update id="setLawyerTime">
        update convrLogTable set lawyertime = #{lawyertime} where phone = #{phone} and lawyerphone = #{lawyerphone}
    </update>
    
    <select id="getConvrLogsByPhone" resultType="com.huidong.legalsys.domain.ConvrLog">
        select * from convrLogTable where phone = #{phone}
    </select>

    <select id="getConvrLogsByLawyerPhone" resultType="com.huidong.legalsys.domain.ConvrLog">
        select * from convrLogTable where lawyerphone = #{lawyerphone}
    </select>

    <select id="getAllConvrLogs" resultType="com.huidong.legalsys.domain.ConvrLog">
        select * from convrLogTable
    </select>
</mapper>
