<?xml version="1.0" encoding="utf-8" ?>

<!--mybatis实现StatureDao接口定义的功能-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huidong.legalsys.dao.UserDao">
    <resultMap id="statureMap" type="com.huidong.legalsys.domain.Stature">
        <id column="lawid" javaType="Integer" jdbcType="INTEGER" property="lawid"></id>
        <result column="part" javaType="Integer" jdbcType="INTEGER" property="part"></result>
        <result column="chapter" javaType="Integer" jdbcType="INTEGER" property="chapter"></result>
        <result column="article" javaType="Integer" jdbcType="INTEGER" property="article"></result>
        <result column="title" javaType="String" jdbcType="VARCHAR" property="title"></result>
        <result column="content" javaType="String" jdbcType="VARCHAR" property="content"></result>
        <result column="clickrate" javaType="Integer" jdbcType="INTEGER" property="clickrate"></result>
    </resultMap>

    <insert id="initCommit">
        load xml local infile #{staturexml} into statureTable
    </insert>

    <update id="addClickrate">
        update statureTable set clickrate = clickrate + #{addNum} where lawid = #{lawid}
    </update>

    <select id="getStature" resultType="com.huidong.legalsys.domain.Stature">
        select * from statureTable where lawid = #{lawid}
    </select>

    <select id="getAllStatures" resultType="com.huidong.legalsys.domain.Stature">
        select * from statureTable
    </select>

    <select id="getTopkStatures" resultType="com.huidong.legalsys.domain.Stature">
        select * from statureTable order by clickrate desc
    </select>
</mapper>
