<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="compoment/static::static"></head>

<body>
<div id="page">
    <div id="wrap">
        <div id="header">
            <h1 id="logo"><a href="/">法律咨询系统</a></h1>
            <div class="availability">
                <a href="https://github.com/HoniiTro19/Online-Legal-Consulting-System" class="available"></a>
            </div>
            <div th:replace="compoment/navigatior::commonMenu(0)"></div>
        </div>

        <div id="main_content">
            <div class="detail">
                <h2>用户咨询详情</h2>
                <p>标题（Title）：[[${consult.title}]]</p>
                <p>内容（Query）：[[${consult.query}]]<p>
                <p>类型（Type）：[[${consult.type}]]（0表示相关法条预测，1表示刑期预测）<p>
                <p>结果（Result）：[[${consult.result}]]<p>
                <p>时间（Time）：[[${consult.time}]]<p>
            </div>
        </div>
    </div>
</div>
</body>
</html>