<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="compoment/static::static"></head>

<body>
<div id="page">
    <div id="wrap">
        <div id="header">
            <h1 id="logo"><a href="/">法律咨询系统</a></h1>
            <div class="availability">
                <a href="https://github.com/HoniiTro19/Online-Legal-Consulting-System" class="available" target="_blank"></a>
            </div>
            <div th:replace="compoment/navigatior::commonMenu(1)"></div>
        </div>


        <div id="main_content">
            <div class="column_2">
                <div class="first services">
                    <h2>功能说明</h2>
                    <p>用户按要求输入“咨询标题”，“咨询内容”，点击"提交咨询"提交问题。</p>
                    <p>系统将通过神经网络模型对您的咨询内容进行预测，并返回我们预测的结果。</p>
                    <p><b>标题应该是对咨询问题的凝练，希望大家能够重视标题的填写。</b></p>
                    <h2>使用案例</h2>
                    <p>用户可以按照下述例子进行咨询：</p>
                    <p>咨询标题：殴打至轻伤二级</p>
                    <P>咨询内容：经审理查明,2015年11月至2016年3月,被告人王2某驾驶一黑色弯梁二轮摩托车先后来到临沭县石门镇、曹庄镇、南古街盗窃作案三起,涉案价值共计41000余元。分述如下:\n1、2015年11月29日,被告人王2某来到石门镇X村陈某秀经营的X窗帘服饰店二楼卧室,盗窃现金4000元及黄金项链一条、吊坠一个,涉案价值9713元。\n2、2015年12月3日,被告人王2某来到曹庄镇X家电车辆商场,盗窃现金1000余元。\n3、2016年3月10日,被告人王2某来到郑山街道南古街X家电商场二楼卧室,盗窃现金26000余元。\n上述事实,被告人王2某在开庭审理过程中亦无异议,并有被害人陈某秀、沈某、王某光的陈述,受案登记表、指认现场照片、公安行政处罚决定书、劳动教养决定书、刑事判决书、到案经过、户籍信息等证据证实,足以认定。</P>
                </div>

                <div class="services">
                    <h2>智能咨询</h2>
                    <form action="/consult/upload" method="post">
                        <p>咨询标题 ：<input type="text" name="title" required></p>
                        <p>咨询内容：<input type="text" name="query" required></p>
                        <input type="submit" value="提交咨询">
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>