<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="compoment/static::static"></head>

<body>
<div id="page">
    <div id="wrap">
        <div id="header">
            <h1 id="logo"><a href="/">法律咨询系统</a></h1>
            <div class="availability">
                <a href="https://github.com/HoniiTro19/Online-Legal-Consulting-System" class="available" target="_blank"></a>
            </div>
            <div th:replace="compoment/navigatior::commonMenu(0)"></div>
        </div>


        <div id="main_content">
            <div class="column_2">
                <div class="first services">
                    <h2>功能说明</h2>
                    <span class="intro_text">普通用户输入手机号，真实姓名，登录密码，身份证号进行账号注册，所有内容均为必填项，登录密码需要输两遍来减少失误情况。手机号将作为日后登录的账号。取身份证号与手机号只是为了实名认证，本站不会主动泄露用户信息。</span>
                    <h2>使用说明</h2>
                    <span class="intro_text">按照要求依次输入“手机号”，“真实姓名","登录密码”，“确认密码”，“身份证号”，成功注册之后系统将转至登录界面，若是账号已被注册或登录密码前后不一致，系统将进行提醒。</span>
                </div>

                <div class="services">
                    <h2>普通用户注册</h2>
                    <form action="/register/lawyer/input" method="post">
                        <p class="sheet">手机号 ：<input type="text" name="phone" required="required"></p>
                        <p class="sheet">真实姓名：<input type="text" name="name" required="required"></p>
                        <p class="sheet">登录密码：<input type="text" name="password" required="required"></p>
                        <p class="sheet">确认密码：<input type="text" name="verify" required="required"></p>
                        <p class="sheet">身份证号：<input type="text" name="idno" required="required"></p>
                        <input type="file" id="picture-file" class="form-control"
                               style="width: 300px;margin-bottom: 20px;margin-top: 10px;"
                               required="required">
                        <input type="submit" value="上传律师执照（jpg,png,pdf）" class="btn btn-info">
                        <input type="submit" value="注册">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>