<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="compoment/static::static"></head>

<body>
<div id="page">
    <div id="wrap">
        <div id="header">
            <h1 id="logo"><a href="/">法律咨询系统</a></h1>
            <div class="availability">
                <a href="https://github.com/HoniiTro19/Online-Legal-Consulting-System" class="available"></a>
            </div>
            <div th:replace="compoment/navigatior::commonMenu(4)"></div>
        </div>

        <div id="main_content">
            <div class="column_convr">
                <div class="first">
                    <h2>功能说明</h2>
                    <p>用户聊天界面，用户在建立会话以后，可以与对方进行一对一交流。</p>
                    <p>普通用户就自己想咨询的问题追加更加详细的描述，律师用户根据普通用户的描述，凭借自己的专业知识进行答复。</p>
                    <h2>使用案例</h2>
                    <p>用户需要注意以下几个方面：</p>
                    <p><b>用户在建立会话之后，系统会自动将普通用户的咨询内容作为第一条信息再复述一遍。</b></p>
                    <p><b>每条会话内容上都会标注时间。</b></p>
                    <p><b>在框内输入内容，再点击发送，页面就会刷新，显示最新的会话情况。</b></p>
                </div>


                <div class="second">
                    <h2>与用户[[${hisphone}]]的会话</h2>
                    <div class="chatlist">
                        <ul>
                            <li th:each="recordconvr:${recordconvrs}">
                                <div class="time">
                                    <p>[[${recordconvr.time}]]</p>
                                </div>

                                <div th:if="${recordconvr.phone} ne ${myphone}">
                                    <div class="chatin">
                                        <p>[[${recordconvr.content}]]</p>
                                    </div>
                                </div>

                                <div th:if="${recordconvr.phone} eq ${myphone}">
                                    <div class="chatout">
                                        <p>[[${recordconvr.content}]]</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div th:if="${myphone} ne ${adminphone}">
                        <form action="/manage/userConvrs/detail/upload" style="position: fixed; bottom: 0;right: 0;">
                            <input type="text" name="record" style="width: 400px;height: 20px">
                            <input type="submit" value="发送">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>