<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="compoment/static::static"></head>

<body>
<div id="page">
    <div id="wrap">
        <div id="header">
            <h1 id="logo"><a href="/">法律咨询系统</a></h1>
            <div class="availability">
                <a href="https://github.com/HoniiTro19/Online-Legal-Consulting-System" class="available" target="_blank"></a>
            </div>
            <div th:replace="compoment/navigatior::commonMenu(0)"></div>
        </div>

        <div id="main_content">
            <div class="column_3">
                <div class="first services">
                    <h2>功能说明</h2>
                    <span class="intro_text"></span>
                    <h2>使用案例</h2>
                    <span class="intro_text"></span>
                </div>
                <div class="services">
                    <h2>用户基本信息</h2>
                    <p>手机号（Phone）：[[${user.phone}]]</p>
                    <p>真实姓名（Name）：[[${user.name}]]<p>
                    <p>密码（Password）：[[${user.password}]]<p>
                    <p>身份证号（Idno）：[[${user.idno}]]<p>
                    <p>律所信息（Firm）：[[${user.firmname}]]<p>
                </div>
                <div class="services">
                    <h2>个人资料管理</h2>
                    <h1 id="changePassword"><a href="/manage/changePassword">修改密码</a></h1>
                    <h1 id="lawyerAuth"><a href="/manage/lawyerAuth">修改律师信息</a></h1>
                    <h1 id="userConsults"><a href="/manage">查询咨询记录</a></h1>
                    <h1 id="userConvrs"><a href="/manage">查询会话记录</a></h1>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>