<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="compoment/static::static"></head>

<body>
<div id="page">
    <div id="wrap">
        <div id="header">
            <h1 id="logo"><a href="/">法律咨询系统</a></h1>
            <div class="availability">
                <a href="https://github.com/HoniiTro19/Online-Legal-Consulting-System" class="available" target="_blank"></a>
            </div>
            <div th:replace="compoment/navigatior::commonMenu(4)"></div>
        </div>

        <div id="main_content">
            <div class="column_3">
                <div class="first services">
                    <h2>功能说明</h2>
                    <p>用户修改律师认证信息的界面，用户按要求输入“律所信息”，上传“律师执照”，系统将修改用户的律师认证信息。</p>
                    <p>修改完成后不需要重新登陆。</p>
                    <h2>使用案例</h2>
                    <p>用户可以按照下述方式进行操作：</p>
                    <p>修改律所信息：××省××市××区××律所</p>
                    <p>修改擅长领域：人格权纠纷</p>
                    <p>修改个人简介：你好</p>
                    <p>上传律师执照：license.jpg</p>
                    <p>提交，成功修改律师认证信息。</p>
                </div>
                <div class="services">
                    <h2>用户基本信息</h2>
                    <p>手机号（Phone）：[[${userInfo.phone}]]</p>
                    <p>真实姓名（Name）：[[${userInfo.name}]]<p>
                    <p>密码（Password）：[[${userInfo.password}]]<p>
                    <p>身份证号（Idno）：[[${userInfo.idno}]]<p>
                    <p th:if="${islawyer} eq ${isTrue}">律所信息（Firm）：[[${userInfo.firmname}]]<p>
                    <p th:if="${islawyer} eq ${isTrue}">律师执照（License）：<img th:src="@{'/manage/allUsers/getLicense?licenseurl='+${userInfo.licenseurl}}" width="378" height="284"></p>
                </div>
                <div class="services">
                    <h2>修改律师认证</h2>
                    <form action="/manage/lawyerAuth/upload" method="post" enctype="multipart/form-data">
                        <p class="sheet">律所信息：<input type="text" name="firmname" required></p>
                        <p class="sheet">擅长领域：<input type="text" name="category" list="categories"></p>
                        <p class="sheet">个人简介：<input type="text" name="description"></p>
                        <p class="sheet">律师执照：<input type="file" name="licensefile" required></p>
                        <input type="submit" value="确认">
                    </form>
                    <datalist id="categories">
                        <option>人格权纠纷</option>
                        <option>婚姻家庭纠纷</option>
                        <option>继承纠纷</option>
                        <option>不动产登记纠纷</option>
                        <option>物权保护纠纷</option>
                        <option>所有权纠纷</option>
                        <option>用益物权纠纷</option>
                        <option>担保物权纠纷</option>
                        <option>合同纠纷</option>
                        <option>特殊类型的侵权纠纷</option>
                        <option>不当得利纠纷</option>
                        <option>无因管理纠纷</option>
                        <option>知识产权合同纠纷</option>
                        <option>知识产权权属、侵权纠纷</option>
                        <option>不正当竞争、垄断纠纷</option>
                        <option>劳动争议</option>
                    </datalist>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>